
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, user-scalable=no">

  <% if (title) { %>
    <title><%= title || "Plural Collective" %></title>
  <% } %>

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flexboxgrid/6.3.1/flexboxgrid.min.css" type="text/css" >

  <link href="styles.css" rel="stylesheet">
</head>
