<html lang="en" dir="ltr">
  <%- include("_partials/head", { title: "Welcome to Plural Collective" }) %>

  <body>
    <%- include("_partials/header") %>

    <div class="row no-gutter polaroid-grid">
      <% grid.forEach(photo => {%>
        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-2">
          <div class="polaroid" style="background-image: url('<%= photo %>')"></div>
        </div>
      <% }) %>
    </div>

    <section class="content">
      <h1>Welcome to Plural Collective </h1>

      <p>
        <em>Brief introduction of what Plural Collective is...</em> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>


<div class="row">
<div class="col-xs-6">
<h2>Store Hours</h2>

<table>
  <tr>
    <td><strong>Tuesday - Friday</strong></td>
    <td>11:00-5:00</td>
  </tr>
  <tr>
    <td><strong>Saturday</strong></td>
    <td>10-5:00</td>
  </tr>
  <tr>
    <td><strong>Sunday</strong></td>
    <td>11-5</td>
  </tr>
  <tr>
    <td><strong>Monday</strong></td>
    <td>closed</td>
  </tr>
</table>
</div>

<div class="col-xs-6">
<h2>Address</h2>
8012 SE 13th Ave.<br/>
Portland, OR 97202<br/>
(503) 206-8684<br/>
<a href="mailto:pluralcollectivepdx@gmail.com">pluralcollectivepdx@gmail.com</a>
</div>
</div>




    </section>


    <%- include("_partials/instagram") %>

  </body>
</html>
